body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.nav-bg{
    background-color: #562EFF;
    
}

.navbar-brand img{
    width: 40.42px;
    height: 51px;
}

.nav-section .nav-item:not(.profile-img){
    padding: 0px 5px;
}

.player img{
    width: 56px;
    height: 56px;
}

main, .course-section{
    max-width: 870px;
    background-color: white;
}

.divider{
    width: 807px;
    height: 1px;
    background-color: #D1D1D1;
    
    
}

.blog-section img{
    width: 177px;
    height: 117px;
} 

p{
    font-weight: 700;
    size: 20px;
    line-height: 34px;
}

.by-style{
    color: #9F9F9F;
    font-weight: 600;
}

.blog-section small, h3{
    color: #562EFF;
    font-weight: 600;
}

.course-section img{
    width: 224px;
    height: 114px;
}

.star img{
    width: 12.25px;
    height: 11.75px;
}

h6{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #ED6B4F;
    
}

small{
    font-size: small;
}

.clock img{
    width: 20px;
    height: 20px;
}

.clock{
    background-color: #ff4a5f3f;
    border-radius: 20px;
    height: 25px;
    width: 90px;
    padding: 3px 5px;
}

.card{
    border: none;
    box-shadow: 1px 1px 5px #ebe9e9;
    border-radius: 15px;
}

.blog-section .card{
    width: 380px;
}


@media screen and (min-width:200px) {
    .divider{
        width: 400px;
        height: 1px;
        background-color: #D1D1D1;
        
        
    }
}

@media screen and (min-width:992px) {
    .divider{
        width: 800px;
        
    }
}

@media screen and (max-width:483px) {
    .divider{
        width: 400px;
    }
}

@media screen and(min-width:768px) {
    .divider{
        width: 700px;
    }
}

